@page "/carmodel"
@inject HttpClient httpClient
@inject IDataService dataService;

<h3>CarModel</h3>

<table class="table">

    <thead>
        <tr>
            <th>Name</th><th>Description</th>
        </tr>
    </thead>
    <tbody>
        @if (Models.Count() == 0)
        {
            <tr>
                <td colspan="2">Empty car model list...</td>
            </tr>
        }
        else
        {
            @foreach (CarModel model in Models)
            {
                <tr>
                    <td>@model.Name</td>
                    <td>@model.Description</td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    List<CarModel> Models { get; set; } = new List<CarModel>();

    protected async override Task OnInitializedAsync()
    {
        try
        {
            await dataService.GetCarModelListAsync(null,1);
            Models = dataService.CarModels;
        }
        catch
        {
            Models = new List<CarModel>();
        }
    }

}
